cache: false
language: generic
services:
  - docker
env:
  global:
    - DH_ACCT_NAME=qkjqvazeqfjqftchxlgw
  matrix:
    - IMAGE_NAME=python-mpi-builds:python_3.6-openmpi
#    - IMAGE_NAME=python-mpi-builds:python_3.6-openmpi EXAMPLES=1
#    - IMAGE_NAME=python-mpi-builds:python_3.6-openmpi SLIM=1
#    - IMAGE_NAME=python-mpi-builds:python_3.6-mpich EXAMPLES=1
#    - IMAGE_NAME=python-mpi-builds:python_3.6-mpich EXAMPLES=1
#    - IMAGE_NAME=python-mpi-builds:python_3.5-openmpi EXAMPLES=1
#    - IMAGE_NAME=python-mpi-builds:python_3.5-mpich EXAMPLES=1
#    - IMAGE_NAME=python-mpi-builds:python_2.7-openmpi EXAMPLES=1
#    - IMAGE_NAME=python-mpi-builds:python_2.7-mpich EXAMPLES=1
#    - IMAGE_NAME=python-mpi-builds:pypy_3-openmpi
#    - IMAGE_NAME=python-mpi-builds:pypy_3-mpich
#    - IMAGE_NAME=python-mpi-builds:pypy_2-openmpi
#    - IMAGE_NAME=python-mpi-builds:pypy_2-mpich
before_install:
  - docker pull ${DH_ACCT_NAME}/${IMAGE_NAME}
  - export CI_ENV=`bash <(curl -s https://codecov.io/env)`
  - export DOC_ID=`docker run -d -v $(pwd):$(pwd) -w $(pwd) ${DH_ACCT_NAME}/${IMAGE_NAME} sleep 10000000000`
  - export DOC="docker exec ${CI_ENV} -e DH_ACCT_NAME -e IMAGE_NAME -e SLIM -e EXAMPLES ${DOC_ID}"
install:
  - "${DOC} pip install -U pip setuptools wheel"
  - "${DOC} python --version"
  - "${DOC} pip --version"
  - "${DOC} mpirun --version"
  - "${DOC} git clone https://github.com/Pyutilib/pyutilib.git"
  - ${DOC} bash -c "cd ./pyutilib && python setup.py install && cd .. && rm -r ./pyutilib"
  - "${DOC} git clone https://github.com/Pyomo/pyomo.git"
  - ${DOC} bash -c "cd ./pyomo && python setup.py install && cd .. && rm -r ./pyomo"
  - "${DOC} pip install -r test_requirements.txt"
  - "${DOC} pip install codecov"
  - "${DOC} python setup.py develop"
script:
  - while sleep 9m; do echo "still running..."; done &
  - "[[ -z $SLIM ]] || bash .travis/test_slim.sh"
  - "[[ -n $SLIM ]] || bash .travis/test_parallel.sh"
  - kill %1
after_script:
  - ${DOC} find . -name "*.coverage*"
  - "${DOC} coverage combine"
  - "${DOC} coverage report"
  - "${DOC} codecov --env DH_ACCT_NAME IMAGE_NAME SLIM EXAMPLES"
  - docker kill ${DOC_ID}
  - docker ps
deploy:
  provider: pypi
  server: https://test.pypi.org
  user: N2PG43fzLFB76ukPVpWD
  password:
    secure: tgDB7RvaPzNgRsdrbYR9DJmkAImuFk86sYD/GmtHzUVoLnOKJvEq//9kOB7zMlRmCYT7sALt3K+gPGvuVQlPsHAD3aMYUd+NDglTs8sbCo4ZpTLqrorek8zwYYhFBuKl9qG5O3DnXCiYL2OlCZ3xTN9Cm5OSd89/6MFOgx7ILRxH7Uqky2IEiSbiRdVxthIsnZajyW+Kq43tZolPOdr/7bfS4SB/9wK/59FcY5e2w9g3GxtO7b1J59EUO0/jVcI8ixvJwd1eYC32aezQ65QcIWqo62+wDEWyGedaKdweZslpZcCHBRu7BPDG951e+RzNJE+8r4YJqrropkjTZCfQfGvlPCJztK3MCEYSE+ScVa5+3KbTl9Xg5vHKpcztlm7lfwLAGKav5fheVycm0W1Z7+RVy8jL76bYoVeBa7F5+9XQJSwLArAk14ESABukXpcoYOvJyoI4eF7SvEXsMtH1W4M7hsy1TOTqe7nLuDcqJXgc3Yu7Fc5iSZq5P21XsMoKGq4spNJSblfYTZ7nChUdsHhwVMZL6AJMs/ufxgkw7mX8Fk+1q5Ha6QRhRQpDY3f0Ikyg677PS3AXoDCzFkxDF4qAbo/ohMAKDrtGBolchigVhVR1Vo5nn2/y1NqNpwsf9xxBYw0CdQ/QtWebBPxvp0SjiF68XBz1OVqzeR0TtUU=
  distributions: sdist
  on:
    tags: false
    branch: master
    condition: $IMAGE_NAME = python-mpi-builds:python_3.6-openmpi
