include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
include test_requirements.txt
include run-mpitests.py
recursive-include src *
recursive-include examples *
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.coverage
global-exclude __pycache__
